.DS_Store
.idea
/dist
/node_modules
/out
/out/*
/*.local
/*.local.*
/components.d.ts
npm-debug.log*
.pnpm-debug.log*
.pnpm-error.log*
pnpm-lock.yaml
yarn-error.log
yarn.lock
debug.log
tests/screenshots
tests/videos
tests/playwright-report
tests/test-results
